<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>StudentWebSite</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.zking.web.action.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStudentServlet</display-name>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>com.zking.web.action.AddStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IndexServlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.zking.web.action.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DelServlet</display-name>
		<servlet-name>DelServlet</servlet-name>
		<servlet-class>com.zking.web.action.DelServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStuServlet</display-name>
		<servlet-name>UpdateStuServlet</servlet-name>
		<servlet-class>com.zking.web.action.UpdateStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/addStu.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelServlet</servlet-name>
		<url-pattern>/delStu.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStuServlet</servlet-name>
		<url-pattern>/updateStu.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
